.collectionTitleContainer {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;

    span {
        font-size: 24px;
        font-weight: 600;
    }
}

.headerColumnContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    span {
        font-size: 14px;
        font-weight: 500;
    }
}

.collectionContainer {
    display: flex;
    justify-content: center;
}

.productsNotFound {
    display: flex;
    justify-content: start;
    padding-right: 50px;
    width: 100%;
    padding-top: 50px;

    span {
        font-size: 16px;
        font-weight: 500;
    }
}
