.cartContextContainer {
  flex-direction: column;
  justify-content: space-between;
}

.cartItemsContainer {
  overflow: auto;
}

@media screen and (max-width: 768px) {
  /* Adjust the height for screens with a maximum width of 768px */
  .cartItemsContainer {
    max-height: 26em;
  }
  .cartContextContainer{
    height: 35em;
  }
}

@media screen and (min-width: 769px) {
  /* Adjust the height for screens with a minimum width of 769px */
  .cartItemsContainer {
    max-height: 40em;
  }

  .cartContextContainer{
    height: 50em;
  }
}

.cartSummaryContainer {
  padding-top: 1em;
  display: flex;
  justify-content: center;
}
.cartTotalPriceContainer {
  display: flex;
  justify-content: space-between;

  span {
    font-size: 14px;
    font-weight: 600;
  }
}
.cartButtonContainer {
  padding-top: 2em;

  .cartButton{
    background-color: black;
  }
  .cartButton:hover{
    background-color: black;
  }
}

.cartItemDividerContainer {
  padding: 1em 2em;
}
.cartItemDivider {
  background-color: black;
  width: 90%;
}

.cartEmptyContainer{
    display: flex;
    justify-content: center;

    span{
        font-size: 16px;
        font-weight: 500;
        width: fit-content;
    }
}
