.promotionProductsProductsContainer {
    padding: 0 2em;
}

.promotionProductsTitleContainer {
    display: flex;
    justify-content: center;
    padding: 20px 0 20px;
}

.promotionProductsTitle {
    font-size: 24px;
    font-weight: 600;
}
