$white: #ffffff;
$black: #0a0a0a;

$errorBackground: #fff6f6;
$errorMessage: #d02e2e;
$errorBorder: #d02e2e;

$section-text-color: #797777;
$section-border-animated-color: #ada8a8;

$primary-color: #dcd4bb;
