.productModalContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 45em;
  background-color: white;
  border-radius: 1em;
  padding: 1em;
}

.productModalCloseButtonContainer{
  cursor: pointer;
}