@import '../../../styles/colors.scss';

.registrationFormContainer {
  display: flex;
  justify-content: center;
}

.registrationFormContext {
  max-width: 400px;
  width: 100%;
}

.registrationFormTitle {
  display: flex;
  align-items: center;
  justify-content: center;

  p {
    font-size: 14px;
    font-weight: 500;
  }
}

.registrationFormInputContainer {
  padding: 0 30px 5px 30px;
  p{
    margin-bottom: 5px;
  }
}

.errorMessageContainer {
  color: $errorMessage;
  background-color: $errorBackground;
  border: 1px solid $errorBorder;
  border-radius: 4px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;

  p {
    font-size: 12px;
    margin: 0;
  }
}

.registrationFormInputTitle {
  display: flex;
  justify-content: right;

  p {
    font-size: 12px;
  }
}

.registrationFormInputFiled {
  display: flex;
  justify-content: right;
}

.registrationFormPasswordRow {
  display: flex;
  justify-content: space-between;
  align-items: center;

  p {
    font-size: 12px;
  }
}

.registrationFormSignIn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
}
