@import "../../styles/colors.scss";

.footerContainer {
  background-color: $black;
  color: $white;
  width: 100%;
  padding: 3vh 5vh;
}

.footerDivider {
  background-color: $white;
  margin: 1vh 0 !important;
  width: 100%;
}

.footerColumn {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.storeNameContainer {
  padding-bottom: 3vh;
}

.footerCopyright {
  display: flex;
  justify-content: center;
  gap: .5vw;

  a {
    color: white;
  }
}

.footerIconSpan {
  padding-left: 1vw;
}

.footerIcon {
  font-size: 18px !important;
}

.footerSocialIcon {
  width: 30px !important;
  height: 30px !important;
  margin-left: 15px;
}

.footerSocialContainer {
  display: flex;
  margin-top: 30px;
  justify-content: center;
}

.title {
  font-size: 18px;
}

.contentText {
  font-size: 12px;
}
