@import "../../styles/colors.scss";

.footerContainer {
  background-color: $black;
  color: $white;
  padding: 0 5vh;

  .footerInformationContainer {
    display: flex;
    justify-content: center;
  }

  .footerCopyrightContainer {
    display: flex;
    justify-content: center;
    padding: 1em 0;
    a {
      color: white;
    }
  }

  .footerIconSpan {
    padding-left: 1vw;
  }

  .footerIcon {
    font-size: 18px !important;
  }

  .footerSocialIcon {
    width: 30px !important;
    height: 30px !important;
    margin-left: 15px;
  }

  .footerSocialContainer {
    display: flex;
    justify-content: center;
  }

  .title {
    font-size: 18px;
    font-weight: 500;
    padding: 1em 0;
  }

  .footerColumn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5px;

    .footerDivider {
      background-color: $white;
      width: 10em;
      margin-top: 5px;
    }
  }

  .contentText {
    font-size: 12px;
  }
}
