@import "../../../styles/colors.scss";

.productInformationContainer {
  display: flex;
  justify-content: center;

  .customColumn{
    display: flex;
    justify-content: center;

  }

  .productTitleContainer {
    span {
      font-size: 20px;
      font-weight: 500;
    }
  }

  .productPriceContainer {

    span {
      font-size: 16px;
      padding-left: 1em;
    }

    .strikePrice {
      text-decoration: line-through;
    }
  }

  .dividerContainer {
    padding: 1em 0;

    .customerDivider {
      background-color: $black;
      width: 200px;
    }
  }

  .inStockContainer{
    
    .customChip{
      width: 120px;
    }

  }

  .addToCartButtonContainer {
    margin-top: 1em;
  
    .customButtonStyle {
      border-radius: 20px;
      width: 120px;
      height: 32px;
    }
  }

  .productDescriptionContainer {
    padding-top: 2em;
    padding-bottom: 1em;
  
    p {
      font-size: 14px;
    }
  }

  .gridImagesContainer{
    max-width: 22em;
    
  }
}











