@import "../../../styles/colors.scss";

p {
  margin: 0;
}

.gridImagesContainer {
}

.gridDetailsContainer {
  max-height: 60vh;
  display: flex;
  padding: 4vh;
  direction: rtl;

  div{
    width: 100%;
  }
}

.productTitleContainer {
  p {
    font-size: 20px;
    font-weight: 500;
  }
}

.productPriceContainer {
  justify-content: flex-end;
  padding-top: 1vh;
  padding-bottom: 1vh;

  span {
    font-size: 16px;
    padding-left: 1vw;
  }
}

.productDescriptionContainer {
  display: flex;
  justify-content: flex-start;
  padding-top: 2vh;
  padding-bottom: 1vh;

  p {
    font-size: 14px;
  }
}

.dividerContainer {
  padding-top: 2vh;
}

.indicatorContainer {
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.strikePrice {
  text-decoration: line-through;
}

.addToCartButtonContainer {
  margin-top: 2vh;
  padding-right: 2vw;
  padding-left: 2vw;
}

.customButtonStyle {
  border-radius: 20px;
  width: 100%;
}

.customerDivider {
  background-color: $black;
}
