.container {
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.shoppingBagIcon {
  cursor: pointer;
}

.personIcon {
  cursor: pointer;
}

.searchIcon {
  cursor: pointer;
}

