@font-face {
    font-family: "Arial Hebrew";
    src: url("../public/assets/fonts/arial-hebrew.ttf") format("truetype");
}

html,
body {
    width: 100%;
    height: 100%;
    direction: rtl;

    overflow-y: auto;
    overflow-x: hidden;
}

#root {
}
