@font-face {
  font-family: 'ShaliahSansBold';
  src: url('../public/assets/fonts/ShaliahSansBold.ttf') format('truetype');
}

html, body, #app, #app>div {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  direction: rtl;
  font-family: 'ShaliahSansBold', sans-serif;
}
