@font-face {
  font-family: 'ShaliahSansBold';
  src: url('../public/assets/fonts/ShaliahSansBold.ttf') format('truetype');
}

body {
  margin: 0;
  direction: rtl;
  font-family: 'ShaliahSansBold', sans-serif;
}



